:root{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


.header {
    height: 100vh;
    width: 100%;
    background-image: url(img/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    background-color: #ffffff;
}

.logo {
    height: 100%;
    width: 10%;

}

#logo {
    height: 100%;
    width: 100%;

}

.section-login {
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.pages-section {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
}

.none {
    text-decoration: none;
    color: #000000;
}

.login {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.sub-login {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

#customer {
    height: 100%;
    width: 10%;
    /* border: 2px solid black; */

}

.header2 {
    height: 85%;
    width: 100%;
    position: relative;
}

.header2-box {
    height: 60%;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    right: 10%;
    background-color: #FFF3E3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

}

.header2-subbox {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.arrival {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;

}

.discover {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 26px;
    color: #B88E2F;

}

.discover-text {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    color: #333333;


}

.buy {
    
    height: 20%;
    width: 40%;
    
    margin-top: 10%;

}
.buys {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B88E2F;
    height: 100%;
    width: 100%;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
   

}

.browser-main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.browser-contanier {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.browser-range {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.range {
    font-weight: 700;
    font-family: sans-serif;
    color: #333333;
    font-size: 24px;
    height: 25%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.range-text {
    font-weight: 400;
    font-family: sans-serif;
    color: #666666;
    font-size: 16px;
}

.place-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place1 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4%;
}

#place1 {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.place1:hover{
    transform: scale(1.08);
   
}

.place1 h2 {

    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    color: #666666;
    font-size: 18px;
}

.product-main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-head {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-head h1 {
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
    color: #3A3A3A;

}

.products {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.product1 {
    height: 100%;
    width: 22%;
    background-color: #F4F5F7;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.product22 {
    height: 100%;
    width: 100%;
    background-color: #3A3A3A;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 75%;
}

.product2 {
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
}

.product2:hover {
    opacity: 1;
}

.how1 {
    height: 50%;
    width: 90%;
    /* border: 2px solid rgb(247, 7, 7); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.add {
    height: 20%;
    width: 90%;
    /* border: 2px solid black; */
}

.add h1 {
    font-family: sans-serif;
    font-weight: 600;
    color: #B88E2F;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share {
    width: 100%;
    height: 10%;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    gap: 10%;

}

.share div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#share {
    width: 25%;
    height: 50%;

}

.product-img {
    height: 75%;
    width: 100%;
    /* border: 2px solid black; */

}

#product-img {
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */

}

.product-details {
    height: 25%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.product-details-box {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-details-box h1 {
    font-weight: 600;
    font-size: 24px;
    font-family: sans-serif;
    color: #3A3A3A;
}

.product-details-box P {
    font-weight: 500;
    font-size: 16px;
    font-family: sans-serif;
    color: #898989;
}

.product-details-box h2 {
    font-weight: 600;
    font-size: 22px;
    font-family: sans-serif;
    color: #3A3A3A;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-but {
    height: 6%;
    width: 17%;
   
}
.show-butt {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beauty {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    background-color: #FCF8F3;
}

.beauty-text {
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texts h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: sans-serif;
    color: #3A3A3A;
}

.beauty-text p {
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: #616161;
}

.explore-but {
    height: 20%;
    width: 40%;
    margin-top: 5%;

}
.explore-butt {
    height: 100%;
    width: 100%;
    background-color: #B88E2F;
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.beauty-img {
    height: 75%;
    width: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

#beauty-img {
    height: 100%;
    width: 100%;

}

.footer {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.footer1 {
    height: 60%;
    width: 80%;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.footer-box1 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foot1 {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;

}

.foot2 {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    height: 80%;
    width: 100%;
    margin-top: 5%;
}

.footer-box2 {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.links-head {
    color: #9F9F9F;
    font-weight: 500;
    font-size: 16px;
    font-family: sans-serif;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-email {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    height: 80%;
    width: 100%;
    display: flex;
    

}
.links-section {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.emails {
    height: 70%;
    width: 100%;
    display: flex;
    gap: 2%;
}
#email {
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.Subscribe p {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000;
    border-bottom: 1px solid black;

}
.footer2{
    border-top: 2px solid #D9D9D9;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: end;
}
.footer p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;

}